.input-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    /* Center the left edge of the div at the center of the column */
    width: 90%;
    transform: translateX(-50%);
    /* Shift the div back by 50% of its width to center it */
    display: flex;
    flex-direction: column;
}

.regenerate-button-row {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12px;
}

.input-field {
    color: white;
}

.input-field mat-label {
    color: white;
}

.input-field .mat-icon-button {
    color: white;
}

.divider-box {
    margin-bottom: 96px;
}

.empty-messages-container {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 200px);
}

.empty-messages-box {
    display: inline;
}

.text-area {
    caret-color: white;
}

.model-info {
    background-color: #3c3d4a;
    color: white;
    text-align: center;
    padding: 10px;
}