.input-container {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 75%;
}

.input-field {
    color: white;
    width: 90%;
    background-color: #3c3d4a;
}

.input-field mat-label {
    color: white;
}

.input-field .mat-icon-button {
    color: white;
}

.divider-box {
    margin-bottom: 96px;
}

.empty-messages-container {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 200px);
}

.empty-messages-box {
    display: inline;
}