.message-card {
    color: white;
}

.message-card.user {
    background-color: #2e2e38;
}

.message-card.bot {
    background-color: #3c3d4a;
}

.right-space {
    margin-right: 16px;
}

.flex-row {
    display: flex;
    align-items: center;
}

.vertical-space {
    margin-left: 8px;
    margin-right: 8px;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.input-box {
    width: 100%;
}

.pagination {
    min-width: 80px;
}

.text-area {
    caret-color: white;
}