.page-container {
    padding-left: 2%;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #2e2e38;
    height: 100vh;
}

.back-buton {
    margin-top: 80px;
    width: 40px;
}