.top-toolbar {
    display: flex;
    justify-content: center;
    background-color: #1d1e20;
}

.new-chat-button {
    width: 90%;
    color: white;
    border-color: #585860;
    border-radius: 6px;
}

.chat-history {
    height: calc(100vh - 129px);
    overflow-y: auto;
}

.new-chat-button .mat-icon-button {
    color: #585860;
}

.nav-divider {
    width: 95%;
    margin: 0 auto;
    border-color: 585860;
}

.bottom-toolbar {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #1d1e20;
}