<mat-toolbar class="top-toolbar">
    <button mat-stroked-button class="new-chat-button" (click)="newChat()">
        <mat-icon>add</mat-icon>
        New Chat
    </button>
</mat-toolbar>
<mat-list class="chat-history">
    <mat-list-item *ngFor="let chat of chatHistory" (click)="selectChat(chat)"
        [class.selected]="selectedChat?.id === chat.id">
        <div class="chat-item">
            <div class="chat-title">
                <mat-icon class="left-icon">chat</mat-icon>
                <div>{{ chat.title }}</div>
            </div>
            <div *ngIf="showAction(chat)">
                <mat-icon class="mid-icon" (click)="editChat(chat); $event.stopPropagation()">edit</mat-icon>
                <mat-icon (click)="deleteChat(chat.id); $event.stopPropagation()">delete</mat-icon>
            </div>
        </div>
    </mat-list-item>
</mat-list>
<mat-divider class="nav-divider"></mat-divider>

<mat-toolbar color="primary" class="bottom-toolbar">
    {{ username }}
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
</mat-toolbar>

<mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item (click)="clearConversations()">
        <mat-icon>delete_sweep</mat-icon>
        <span>Clear conversations</span>
    </button>
    <button mat-menu-item (click)="goto('prompt')">
        <mat-icon>edit note</mat-icon>
        <span>User Prompts</span>
    </button>
</mat-menu>