.top-toolbar {
    display: flex;
    justify-content: center;
    background-color: #1d1e20;
}

.new-chat-button {
    width: 90%;
    color: white;
    border-color: #585860;
    border-radius: 6px;
}

.new-chat-button .mat-icon-button {
    color: #585860;
}

.chat-history {
    height: calc(100vh - 129px);
    overflow-y: auto;
}

.chat-item {
    display: flex;
    justify-content: space-between;
}

.chat-title {
    display: flex;
}

.left-icon {
    padding-right: 8px;
}

.mid-icon {
    padding-left: 8px;
    padding-right: 8px;
}

.nav-divider {
    width: 95%;
    margin: 0 auto;
    border-color: 585860;
}

.bottom-toolbar {
    size: 12px;
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #1d1e20;
}