body {
    margin: 0;
    height: 100vh;
}

.mdc-list {
    padding: 0 !important;
}

.mat-card-content {
    display: flex !important;
}

.mat-card {
    border-radius: 0 !important;
}

.mat-mdc-option {
    margin-top: 12px !important;
    margin-bottom: 12px !important;
}