.app-container {
    display: flex;
}

.nav-col {
    flex: 1;
    background-color: rgb(32, 33, 35);
}

.chat-window {
    height: 100vh;
    overflow-y: auto;
    flex: 3;
    background-color: rgb(52, 53, 65);
}