.app-container {
    height: 100vh;
}

.nav-col {
    height: 100%;
    background-color: rgb(32, 33, 35);
}

.chat-col {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(52, 53, 65);
}