.app-container {
    height: 100vh;
}

.nav-col {
    height: 100%;
    background-color: rgb(32, 33, 35);
}

.chat-window {
    height: 100%;
    overflow-y: auto;
    background-color: rgb(52, 53, 65);
}